{% extends "base.html" %}
{% load rest_framework %}

{% block content %}
<div class="row mx-lg-n5">
  <p class="text-uppercase font-weight-bold">Category : Details</p>
</div>
<div class="row mx-lg-n5">
  <div class="col">
    Name
  </div>
  <div class="col">
    {{ category.name }}
  </div>
  <div class="col"></div>
</div>
<div class="row mx-lg-n5">
  <div class="col">
    Created Date
  </div>
  <div class="col">
    {{ category.created_date }}
  </div>
  <div class="col"></div>
</div>
<div class="row mx-lg-n5">
  <div class="col">
    Modified Date
  </div>
  <div class="col">
    {{ category.modified_date }}
  </div>
  <div class="col"></div>
</div>
<div class="row mx-lg-n5">
  <div class="col py-3 px-lg-5"></div>
</div>
<div class="row mx-lg-n5">
  <p class="text-uppercase font-weight-bold">Category : Edit</p>
</div>
<div class="row mx-lg-n5">
  <form action="{% url 'html-category-detail' pk=category.pk %}" method="post">
    {% csrf_token %}
    {% render_form serializer template_pack='rest_framework/vertical' %}
    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}
