{% extends "base.html" %}
{% load rest_framework %}

{% block content %}
<div class="row mx-lg-n5">
  <p class="text-uppercase font-weight-bold">Category : Add</p>
</div>
<div class="row mx-lg-n5">
  <form action="{% url 'html-category-add' %}" method="post">
    {% csrf_token %}
    {% render_form serializer template_pack='rest_framework/vertical' %}
    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}
