{% extends "base.html" %}

{% block content %}
<div class="row mx-lg-n5">
  <div class="col py-3 px-lg-5">
  </div>
  <div class="col py-3 px-lg-5">
    <p class="text-uppercase font-weight-bold">Categories</p>
  </div>
  <div class="col py-3 px-lg-5">
    <a class="btn btn-sm btn-outline-primary" href="{% url 'html-category-add' %}" role="button">Add New</a>
  </div>
  <div class="col py-3 px-lg-5">
  </div>
</div>
{% for category in data %}
<div class="row mx-lg-n5">
  <div class="col py-3 px-lg-5">
  </div>
  <div class="col py-3 px-lg-5">
    {{ category.name }}
  </div>
  <div class="col py-3 px-lg-5">
    <form class="form-inline" action="{% url 'html-category-delete' pk=category.pk %}" method="post">
      <a class="btn btn-sm btn-success mr-1" href="{% url 'html-category-detail' pk=category.pk %}" role="button">More</a>
      <a class="btn btn-sm btn-outline-success mr-1" href="{% url 'html-category-detail' pk=category.pk %}" role="button">Edit</a>
      <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
    </form>
  </div>
  <div class="col py-3 px-lg-5">
  </div>
</div>
{% endfor %}
{% endblock content %}
