{% extends "base.html" %}

{% block content %}
  <p class="text-uppercase font-weight-bold">Help: Metadata</p>
  <p>The <code>metadata</code> field is an optional field.</p>
  <p>It is a key/value store where valid data types include <code>text</code>, <code>number</code>, <code>date</code>, and <code>enum</code> types.</p>
  <p>Users can enter 0 or more keys with values attached.</p>

  <p class="text-uppercase font-weight-bold">Date</p>
  <p>For <code>date</code> with value <var>2019-07-20</var>, it can be represented as:</p>
  <pre><code>
    {
      "__date__": null,
      "year": 2019,
      "month": 7,
      "day": 20
    }
  </code></pre>

  <p class="text-uppercase font-weight-bold">Enum</p>
  <p>There are two <code>enum</code> available for usage: <code>Color</code> and <code>Status</code></p>

  <p>The colors available are <code>RED</code>, <code>GREEN</code>, and <code>BLUE</code></p>
  <p>For <code>Color</code> enum with value <var>RED</var>, it can be represented as:</p>
  <pre><code>
    {
      "__enum__": {
        "__enum_instance_type__": ["favorite_things.favorites.enums", "Color"],
        "name": "RED"
      }
    }
  </code></pre>

  <p>The statuses available are <code>DONE</code>, <code>TODO</code> and <code>WISHLIST</code>
  <p>For <code>Status</code> with value <var>DONE</var>, it can be represented as:</p>
  <pre><code>
    {
      "__enum__": {
        "__enum_instance_type__": ["favorite_things.favorites.enums", "Status"],
        "name": "DONE"
      }
    }
  </code></pre>
  <p class="text-uppercase font-weight-bold">Example</p>
  <p>A sample <code>metadata</code> field value comprises of <code>text</code>, <code>number</code>, <code>date</code>, and <code>enum</code> types.</p>
  <pre><code>
    {
      "text_example": "abcdef",
      "number_example": 12.34,
      "date_example": {
        "__date__": null,
        "year": 2019,
        "month": 7,
        "day": 20
      },
      "enum_example": {
        "__enum__": {
          "__enum_instance_type__": ["favorite_things.favorites.enums", "Status"],
          "name": "DONE"
        }
      }
    }
  </code></pre>
{% endblock content %}
