{% extends "base.html" %}

{% block content %}
<div class="row mx-lg-n5">
  <div class="col py-3 px-lg-5">
    <p class="text-uppercase font-weight-bold">Category</p>
  </div>
  <div class="col py-3 px-lg-5">
    <p class="text-uppercase font-weight-bold">Thing</p>
  </div>
  <div class="col-5 py-3 px-lg-5">
    <a class="btn btn-sm btn-outline-primary" href="{% url 'html-thing-add' %}" role="button">Add New</a>
  </div>
  <div class="col py-3 px-lg-5">
  </div>
</div>
{% for thing in data %}
<div class="row mx-lg-n5">
  <div class="col py-3 px-lg-5">
    {{ thing.category.name }}
  </div>
  <div class="col py-3 px-lg-5">
    {{ thing.title }}
  </div>
  <div class="col-5 py-3 px-lg-5">
    <form class="form-inline" action="{% url 'html-thing-delete' pk=thing.pk %}" method="post">
      <a class="btn btn-sm btn-success mr-1" href="{% url 'html-thing-detail' pk=thing.pk %}" role="button">More</a>
      <a class="btn btn-sm btn-outline-success mr-1" href="{% url 'html-thing-detail-edit' pk=thing.pk %}" role="button">Edit</a>
      <a class="btn btn-sm btn-outline-secondary mr-1" href="{% url 'html-thing-detail-history' pk=thing.pk %}" role="button">History</a>
      <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
    </form>
  </div>
  <div class="col py-3 px-lg-5">
  </div>
</div>
{% endfor %}
{% endblock content %}
