{% extends "base.html" %}
{% load rest_framework %}
{% load favorite_filters %}

{% block morecss %}
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
{% endblock morecss %}

{% block content %}
<div class="row mx-lg-n5">
  <p class="text-uppercase font-weight-bold">Thing</p>
</div>
<div class="row mx-lg-n5">
  <p>Category: {{ thing.category }}</p>
</div>
<div class="row mx-lg-n5">
  <p>Title: {{ thing.title }}</p>
</div>
<div class="row mx-lg-n5">
  <p class="text-uppercase font-weight-bold">History</p>
</div>
<div class="row mx-lg-n5">
  <div class="col-2">
    <p class="text-uppercase font-weight-bold">Version : Field</p>
  </div>
  <div class="col-4">
    <p class="text-uppercase font-weight-bold">Old</p>
  </div>
  <div class="col-4">
    <p class="text-uppercase font-weight-bold">New</p>
  </div>
</div>
{% for record in serializer.data.history %}
<div class="row mx-lg-n5">
  <div class="col-2">
    {{ record.version }} : {{ record.field }}
  </div>
  <div class="col-4">
    {% if record.field == 'Metadata' %}
    <pre><code>{{ record.old|json }}</code></pre>
    {% elif record.field == 'Modified' %}
    {{ record.old|dt }}
    {% else %}
    {{ record.old }}
    {% endif %}
  </div>
  <div class="col-4">
    {% if record.field == 'Metadata' %}
    <pre><code>{{ record.new|json }}</code></pre>
    {% elif record.field == 'Modified' %}
    {{ record.new|dt }}
    {% else %}
    {{ record.new }}
    {% endif %}
  </div>
</div>
{% endfor %}
{% endblock content %}

{% block morejs %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock morejs %}
