{% extends "base.html" %}
{% load rest_framework %}
{% load favorite_filters %}

{% block morecss %}
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
{% endblock morecss %}

{% block content %}
<div class="row mx-lg-n5">
  <p class="text-uppercase font-weight-bold">Thing : Details</p>
</div>
<div class="row mx-lg-n5">
  <div class="col">
    Title
  </div>
  <div class="col">
    {{ thing.title }}
  </div>
  <div class="col"></div>
</div>
<div class="row mx-lg-n5">
  <div class="col">
    Description
  </div>
  <div class="col">
    {{ thing.description }}
  </div>
  <div class="col"></div>
</div>
<div class="row mx-lg-n5">
  <div class="col">
    Metadata
  </div>
  <div class="col">
    <pre><code>{{ serializer.data.metadata|json }}</code></pre>
  </div>
  <div class="col"></div>
</div>
<div class="row mx-lg-n5">
  <div class="col">
    Ranking
  </div>
  <div class="col">
    {{ thing.ranking }}
  </div>
  <div class="col"></div>
</div>
<div class="row mx-lg-n5">
  <div class="col">
    Category
  </div>
  <div class="col">
    {{ thing.category.name }}
  </div>
  <div class="col"></div>
</div>
<div class="row mx-lg-n5">
  <div class="col">
    Created
  </div>
  <div class="col">
    {{ thing.created_date|time }}
  </div>
  <div class="col"></div>
</div>
<div class="row mx-lg-n5">
  <div class="col">
    Modified
  </div>
  <div class="col">
    {{ thing.modified_date|time }}
  </div>
  <div class="col"></div>
</div>
{% endblock content %}

{% block morejs %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock morejs %}
