{% extends "base.html" %}
{% load rest_framework %}
{% load favorite_filters %}

{% block morecss %}
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
{% endblock morecss %}

{% block content %}
<div class="row mx-lg-n5">
  <p class="text-uppercase font-weight-bold">Thing : Edit</p>
</div>
<div class="row mx-lg-n5">
  <form action="{% url 'html-thing-detail-edit' pk=thing.pk %}" method="post">
    {% csrf_token %}
    {% render_form serializer template_pack='rest_framework/vertical' %}
    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}

{% block morejs %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock morejs %}
